openapi: 3.0.0
info:
  version: 0.0.1
  title: API
  description: API
servers:
  - url: https://tn-apis.nuelma.dev/v1/operations
    description: Production environment
paths:
  /operate:
    post:
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
      x-amazon-apigateway-integration:
        $ref: '#/components/x-amazon-apigateway-integrations/httpEndpoints'
  /records:
    get:
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
      x-amazon-apigateway-integration:
        $ref: '#/components/x-amazon-apigateway-integrations/httpEndpoints'
  /records/{id}:
    get:
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
      x-amazon-apigateway-integration:
        $ref: '#/components/x-amazon-apigateway-integrations/httpEndpoints'
    delete:
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
      x-amazon-apigateway-integration:
        $ref: '#/components/x-amazon-apigateway-integrations/httpEndpoints'
  /user/login:
    post:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
      x-amazon-apigateway-integration:
        $ref: '#/components/x-amazon-apigateway-integrations/httpEndpoints'
  /operationTypes:
    get:
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
      x-amazon-apigateway-integration:
        $ref: '#/components/x-amazon-apigateway-integrations/httpEndpoints'
x-amazon-apigateway-cors:
  allowOrigins:
  - http://localhost:3000
  - http://localhost:4000
  - http://localhost:4200
  - http://localhost:8080
  - http://localhost:8081
  - http://localhost:8082
  - https://tn-front.nuelma.dev
  - https://d35k4gzl350kd7.cloudfront.net
  allowCredentials: true
  exposeHeaders:
  - "*"
  maxAge: 3600
  allowMethods:
  - GET
  - OPTIONS
  - POST
  - PUT
  - PATCH
  - DELETE
  allowHeaders:
  - "*"

components:
  x-amazon-apigateway-integrations:
    httpEndpoints:
      type: AWS_PROXY
      httpMethod: POST
      uri:
        Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${HttpEndpointsLambda.Arn}/invocations
      passthroughBehaviour: "when_no_templates"
      payloadFormatVersion: "2.0"
      default:
        statusCode: "200"
        responseParameters:
          method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
          method.response.header.Access-Control-Allow-Methods: '''*'''
          method.response.header.Access-Control-Allow-Origin: '''*'''
        responseTemplates:
          application/json: |
            {}